
*,
::before 
::after{
    box-sizing: border-box;
}


body{
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

header {
    font-family: "Shrikhland", cursive;
    text-align: center;
    box-shadow: 0 0 8px lightgray;
    padding: 5px;
    margin: 0%;
    position: absolute;
}

main .city{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    text-align: center;
    padding: 8px;
}

main .city i{
    font-size: 24px;
}

/* EXPLORER */

.explorer{
    text-align: center;
}

.explorer h2{
    margin-top: 32px;
    font-size: 32px;
}

.explorer p{
    font-size: 16px;
}


.btn{
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color: white;
    padding: 17px 43px;
    border-radius: 60px;
    border: none;
    display: block;
    margin: 46px auto auto auto;
    font-size: 1.1rem;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.btn:hover {
    background: linear-gradient(to right bottom, #ff93e1, #a16be0);
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.45);
}



