@import "../utils/mixins";
@import "../utils/colors";
@import "../utils/animation";


.explorer {
    text-align: center;
    background-color: #f6f6f6;
    & h2{
        font-size: 32px;
}
    & p{
        font-size: 16px;
}
    & .btn{
        background: linear-gradient(to bottom right, #FF79DA, #9356DC);
        color: white;
        padding: 17px 43px;
        border-radius: 60px;
        border: none;
        display: block;
        margin: 46px auto auto auto;
        margin-top: 46px;
        font-size: 17px;
        cursor: pointer;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    }
 
    & .btn:hover {
        transform: scale(1.02);
        opacity: 0.9;
    }
}


.city{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    text-align: center;
    padding: 8px;
    gap: 16px;
    & i {
        font-size: 16px;
    }
}