@import "../utils/variables";


.menus {
    background-color: #f6f6f6;
    .menus__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
        
        @media (max-width: $breakpoint){
            grid-template-columns: repeat(2, 1fr);
        }
    }

    & .cards {
        border: 1px solid purple;
        & .cards__images {
        background-image: url("../assets/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
        height: 240px;
        background-size: cover;
       }
    }
}


